<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apptitive.ramadan">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_ramadan"
        android:label="@string/app_name"
        android:theme="@style/Theme.Ramadan" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DetailsActivity"
            android:parentActivityName=".TopicsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appsomehow.ramadan.TopicsActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".TopicsActivity"
            android:launchMode="singleTask"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appsomehow.ramadan.MainActivity" />
        </activity>
        <activity
            android:name=".SehriIfterActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appsomehow.ramadan.MainActivity" />
        </activity>
        <activity
            android:name=".SaomVongerKaronActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.appsomehow.ramadan.MainActivity" />
        </activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.RingtoneService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.MusicService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".receiver.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receiver.NotificationCancelReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="notification_cancelled" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
