[submodule "android-betterpickers"]
	path = android-betterpickers
	url = https://github.com/derekbrameyer/android-betterpickers.git
[submodule "Paralloid"]
	path = Paralloid
	url = https://github.com/chrisjenx/Paralloid.git
[submodule "android-betterpickers/android-betterpickers"]
	path = android-betterpickers/android-betterpickers
	url = https://github.com/derekbrameyer/android-betterpickers.git
